Repository yairp03/HoradotTV, pull requests merged in 2023-05, with the labels that each got.

#132 Fixed broken search of series names
  SdarotAPI/GlobalUsings.cs
  SdarotAPI/Models/SeriesInformation.cs
  SdarotAPI/Resources/Constants.cs
  SdarotAPI/SdarotDriver.cs
  SdarotAPITest/ApiUnitTest.cs
Labels: type/bug, area/sdarot-api

#134 Cleaned up codebase
  HoradotTV.Console/Program.cs
  SdarotAPI/GlobalUsings.cs
  SdarotAPI/Models/SeriesInformation.cs
  SdarotAPI/Resources/Constants.cs
  SdarotAPI/SdarotDriver.cs
Labels: area/console-app, area/sdarot-api, type/housekeeping

#135 Fixed tests to be more general
  SdarotAPITest/ApiUnitTest.cs
Labels: type/bug, area/tests

#136 Cleanup
  HoradotTV.Console/Constants.cs
  HoradotTV.Console/IOHelpers.cs
  HoradotTV.Console/Program.cs
  README.md
  SdarotAPI/GlobalUsings.cs
  SdarotAPI/Models/EpisodeInformation.cs
  SdarotAPI/Models/SeasonInformation.cs
  SdarotAPI/Models/SeriesInformation.cs
  SdarotAPI/Models/ShowInformation.cs
  SdarotAPI/Resources/Constants.cs
  SdarotAPI/SdarotDriver.cs
  SdarotAPITest/ApiUnitTest.cs
Labels: area/console-app, area/sdarot-api, type/housekeeping, area/tests

#137 Added download from file option
  HoradotTV.Console/AppSettings.cs
  HoradotTV.Console/Constants.cs
  HoradotTV.Console/GlobalUsings.cs
  HoradotTV.Console/IOHelper.cs
  HoradotTV.Console/Program.cs
  SdarotAPI/Models/EpisodeInformation.cs
  SdarotAPI/Models/SeasonInformation.cs
  SdarotAPI/SdarotDriver.cs
Labels: type/enhancement, area/console-app, area/sdarot-api

#138 Cleanup
  .idea/.idea.HoradotTV/.idea/.gitignore
  .idea/.idea.HoradotTV/.idea/encodings.xml
  .idea/.idea.HoradotTV/.idea/indexLayout.xml
  .idea/.idea.HoradotTV/.idea/vcs.xml
  HoradotTV.Console/AppSettings.cs
  HoradotTV.Console/Constants.cs
  HoradotTV.Console/GlobalUsings.cs
  HoradotTV.Console/IOHelper.cs
  HoradotTV.Console/Program.cs
  HoradotTV.sln.DotSettings
  SdarotAPI/Exceptions/SdarotBlockedException.cs
  SdarotAPI/Exceptions/WebsiteErrors/ElementNotFoundException.cs
  SdarotAPI/Exceptions/WebsiteErrors/Error2Exception.cs
  SdarotAPI/Exceptions/WebsiteErrors/WebsiteErrorException.cs
  SdarotAPI/Extensions/HttpClientExtensions.cs
  SdarotAPI/Extensions/IEnumerableExtensions.cs
  SdarotAPI/Extensions/StreamExtensions.cs
  SdarotAPI/Models/EpisodeInformation.cs
  SdarotAPI/Models/Media.cs
  SdarotAPI/Models/SeasonInformation.cs
  SdarotAPI/Models/ShowInformation.cs
  SdarotAPI/Models/WatchResult.cs
  SdarotAPI/Resources/Constants.cs
  SdarotAPI/SdarotDriver.cs
  SdarotAPITest/ApiUnitTest.cs
Labels: area/console-app, area/sdarot-api, type/housekeeping, area/tests

#142 SratimTV support and parallelism
  HoradotAPI/GlobalUsings.cs
  HoradotAPI/HoradotAPI.csproj
  HoradotAPI/HoradotService.cs
  HoradotAPI/Interfaces/BaseContentProvider.cs
  HoradotAPI/Interfaces/BaseShowProvider.cs
  HoradotAPI/Models/MovieInformation.cs
  HoradotAPI/Providers/SdarotTV/SdarotTVMediaDetails.cs
  HoradotAPI/Providers/SdarotTV/SdarotTVService.cs
  HoradotAPI/Providers/SratimTV/SratimTVMediaDetails.cs
  HoradotAPI/Providers/SratimTV/SratimTVMovieInformation.cs
  HoradotAPI/Providers/SratimTV/SratimTVSearchResult.cs
  HoradotAPI/Providers/SratimTV/SratimTVService.cs
  HoradotTV.Console/Constants.cs
  HoradotTV.Console/Program.cs
  HoradotTV.sln.DotSettings
  README.md
Labels: type/enhancement, area/console-app, area/horadot-api, type/performance

#143 Fix AppSettings directory location empty
  HoradotTV.Console/AppSettings.cs
Labels: type/bug, area/console-app
